* {
  box-sizing: border-box;  
  padding: 0;
  margin: 0;  
  text-align: centre;
  font-family: 'Montserrat', sans-serif
}


  body {
    background-image: url('assets/background.jpg');
    height: 100vh;
  }
